<div class="row">
  <div class="col-md-6">
    <div flash-message="userSaved"></div>

    <form class="form-horizontal" role="form" novalidate name="editForm" ng-submit="home.AuthUser.save()">
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="CREATED_AT"></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{ home.AuthUser.created_at | date:'medium' }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="UPDATED_AT"></label>
        <div class="col-sm-8">
          <p class="form-control-static">{{ home.AuthUser.updated_at | date:'medium' }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="FIRST_NAME"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="First name" ng-model="home.AuthUser.name.first" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="SURNAME"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Surname" ng-model="home.AuthUser.name.last" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="EMAIL"></label>
        <div class="col-sm-8">
          <input type="email" class="form-control" placeholder="Email" ng-model="home.AuthUser.email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="PREFERRED_LANGUAGE"></label>
        <div class="col-sm-8">
          <select ng-model="home.AuthUser.language" class="form-control" ng-options="key as value for (key, value) in home.Config.i18n.languages"></select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid" loading-btn="home.User.meta.loadingTracker"><span translate="SAVE"></span></button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <div flash-message="passwordSaved"></div>

    <form class="form-horizontal" role="form" novalidate name="passwordForm" ng-submit="home.AuthUser.changePassword(home.password)">
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="NEW_PASSWORD"></label>
        <div class="col-sm-8">
          <input type="password" class="form-control" placeholder="{{ 'NEW_PASSWORD' | translate }}" ng-model="home.password" required ng-minlength="8" ng-maxlength="20" ng-model-options="{updateOn: 'blur'}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" translate="NEW_PASSWORD_REPEATED"></label>
        <div class="col-sm-8">
          <input type="password" class="form-control" placeholder="{{ 'NEW_PASSWORD_REPEATED' | translate }}" ng-model="home.passwordRepeated" required password-repeat="home.password" ng-minlength="8" ng-maxlength="20">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.$invalid" loading-btn="home.User.meta.loadingTracker"><span translate="SAVE"></span></button>
        </div>
      </div>
    </form>

    <br>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-8">

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-twitter"></i>
          </span>
          <input type="text" class="form-control" readonly value="{{ ::home.AuthUser.getSocialNetwork('twitter').account_name }}">
          <span class="input-group-btn">
            <button class="btn btn-twitter">Twitter</button>
          </span>
        </div>

        <br>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-linkedin"></i>
          </span>
          <input type="text" class="form-control" readonly value="{{ ::home.AuthUser.getSocialNetwork('linkedin').account_name }}">
          <span class="input-group-btn">
            <button class="btn btn-linkedin">LinkedIn</button>
          </span>
        </div>

      </div>
    </div>

  </div>
</div>
