<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <h3 translate="RESET_YOUR_PASSWORD"></h3>
    <br>
    <form
      role="form"
      class="form-horizontal form-no-group-margin"
      novalidate
      name="resetPasswordForm"
      ng-submit="resetPassword.user.resetPassword(resetPassword.$stateParams.userId, resetPassword.$stateParams.resetToken, resetPassword.newPassword)">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">

            <input
              type="password"
              class="form-control input-lg"
              placeholder="{{ 'NEW_PASSWORD' | translate }}"
              ng-model="resetPassword.newPassword"
              required
              ng-minlength="8"
              ng-maxlength="20"
              ng-model-options="{updateOn: 'blur'}">

          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">

            <input
              type="password"
              class="form-control input-lg"
              placeholder="{{ 'NEW_PASSWORD_REPEATED' | translate }}"
              ng-model="resetPassword.newPasswordRepeated"
              required
              password-repeat="resetPassword.newPassword"
              ng-minlength="8"
              ng-maxlength="20">

          </div>

        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-lg pull-right"
        ng-disabled="resetPasswordForm.$invalid"
        loading-btn="resetPassword.user.meta.loadingTracker">
          <span translate="SAVE"></span>
      </button>

      <div class="clearfix"></div>
    </form>

  </div>
</div>
