<td class="mobile-hide" style="padding-top:20px;padding-bottom:0;vertical-align:bottom">
    <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td align="right" valign="bottom" width="220" style="padding-right:20px; padding-bottom:0; vertical-align:bottom;">
                <img  style="display:block" src="https://www.filepicker.io/api/file/AvB8yENR7OdiUqonW05y"  width="174" height="294" alt="iphone"/>
            </td>
        </tr>
    </table>
</td>
