<div flash-message="passwordResetCompleted"></div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <h3 translate="LOGIN_TO_YOUR_ACCOUNT"></h3>
    <br>
    <form
      role="form"
      class="form-horizontal form-no-group-margin"
      novalidate
      name="loginForm"
      ng-submit="login.user.login(login.userDetails)">

      <div class="form-group">

        <input
          type="email"
          class="form-control input-lg"
          placeholder="{{ 'EMAIL' | translate }}"
          ng-model="login.userDetails.email"
          required>

      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control input-lg"
          placeholder="{{ 'PASSWORD' | translate }}"
          required
          ng-minlength="8"
          ng-maxlength="20"
          ng-model="login.userDetails.password"
          ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }">
      </div>

      <div class="form-group">
        <a href="javascript:;" ui-sref="user.resetPasswordRequest" class="pull-right"><span translate="FORGOT_PASSWORD"></span></a>
        <label class="font-weight-normal">
          <checkbox ng-model="login.authentication.isPersistent"></checkbox>&nbsp;
          <span translate="REMEMBER_ME"></span>
        </label>
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-lg pull-right"
        ng-disabled="loginForm.$invalid"
        loading-btn="login.user.meta.loadingTracker">

          <i class="fa fa fa-sign-in"></i>
          <span translate="SIGN_IN"></span>

      </button>
      <div class="clearfix"></div>

    </form>

    <br>
    <div class="or-box">
      <span class="or text-uppercase" translate="OR"></span>
      <div class="or-box-content row">
        <div class="col-sm-6">

          <button
            class="btn btn-social btn-twitter"
            ng-click="register.socialNetwork.authenticate('twitter')">
            <i class="fa fa-twitter"></i>
            <span translate="LOGIN_WITH_TWITTER"></span>
          </button>

        </div>
        <br class="visible-xs">
        <div class="col-sm-6">

          <button
            class="btn btn-social btn-linkedin"
            ng-click="register.socialNetwork.authenticate('linkedin')">
            <i class="fa fa-linkedin"></i>
            <span translate="LOGIN_WITH_LINKEDIN"></span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
