<h3>Congrats, you are now up and running!</h3>
<p>
  This is a <em>highly</em> opinionated set of boilerplate code for starting off any
  kind of project utilising the MEAN stack
  (<a href="http://www.mongodb.org/" target="_blank">MongoDB</a>,
  <a href="http://expressjs.com/" target="_blank">Express</a>,
  <a href="https://angularjs.org/" target="_blank">AngularJS</a> and
  <a href="http://nodejs.org/" target="_blank">Node.js</a>).
</p>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h4>Aims</h4>
      <ul>
        <li>Create a set of reusable components that are applicable to most projects (parts can easily be removed if you don't want them)</li>
        <li>Create a logical and well thought out file structure that makes it easy to find the right piece of code.</li>
        <li>Minimise require() on the backend as much as possible. So many node projects start off every file with a dozen lines of requiring other files - this is gross!</li>
        <li>Minimise the task of writing boilerplate code to add new functionality to be as simple and enjoyable as possible.</li>
        <li>Implement a truly stateless backend REST API - all templating is done via AngularJS and there are no sessions involved thanks to <a href="http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html">JWT</a></li>
        <li>Promises everywhere via <a href="https://github.com/petkaantonov/bluebird">bluebird</a>. Having to use the async library for control flow feels a lot clunkier compared to just using promises.</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
      <h4>Features</h4>
      <ul>
        <li>Automatic file watching, code linting and build process via <a href="http://gulpjs.com/">Gulp</a>.</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
