<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <h3 translate="CREATE_A_NEW_ACCOUNT"></h3>
    <br>
    <form
      role="form"
      class="form-horizontal form-no-group-margin"
      novalidate
      name="registerForm"
      ng-submit="registerCtrl.userModel.register(registerCtrl.userDetails)">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">

              <input
                type="text"
                class="form-control input-lg"
                placeholder="{{ 'FIRST_NAME' | translate }}"
                ng-model="registerCtrl.userDetails.forename"
                required>

            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">

              <input
                type="text"
                class="form-control input-lg"
                placeholder="{{ 'SURNAME' | translate }}"
                ng-model="registerCtrl.userDetails.surname"
                required>

            </div>
          </div>
        </div>
        <div class="form-group">

          <input
            type="email"
            class="form-control input-lg"
            placeholder="{{ 'EMAIL' | translate }}"
            ng-model="registerCtrl.userDetails.email"
            ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
            required
            email-available>

        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">

              <input
                type="password"
                class="form-control input-lg"
                placeholder="{{ 'PASSWORD' | translate }}"
                ng-model="registerCtrl.userDetails.password"
                required
                ng-minlength="8"
                ng-maxlength="20"
                ng-model-options="{updateOn: 'blur'}">

            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">

              <input
                type="password"
                class="form-control input-lg"
                placeholder="{{ 'PASSWORD_REPEATED' | translate }}"
                ng-model="registerCtrl.userDetails.passwordRepeated"
                required
                password-repeat="registerCtrl.userDetails.password"
                ng-minlength="8"
                ng-maxlength="20">

            </div>

          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-lg pull-right"
          ng-disabled="registerForm.$invalid"
          loading-btn="registerCtrl.userModel.meta.loadingTracker">
            <span translate="REGISTER"></span>
        </button>

        <div class="clearfix"></div>
    </form>

    <br>
    <div class="or-box">
      <span class="or text-uppercase" translate="OR"></span>
      <div class="or-box-content row">
        <div class="col-sm-6">

          <button
            class="btn btn-social btn-twitter"
            ng-click="registerCtrl.socialNetwork.authenticate('twitter')">
            <i class="fa fa-twitter"></i>
            <span translate="SIGN_UP_WITH_TWITTER"></span>
          </button>

        </div>
        <br class="visible-xs">
        <div class="col-sm-6">

          <button
            class="btn btn-social btn-linkedin"
            ng-click="registerCtrl.socialNetwork.authenticate('linkedin')">
            <i class="fa fa-linkedin"></i>
            <span translate="SIGN_UP_WITH_LINKEDIN"></span>
          </button>

        </div>
      </div>
    </div>

  </div>
</div>
